<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.badminton.mintup.dao.UserDao">

    <select id="getUserId">
        select
            user_id
        from tbl_mu_user
        where email = #{email}
    </select>

    <select id="userInfo" resultType="com.badminton.mintup.vo.UserVo$UserInfoVo">
        select
            user_id
            , password
            , nickname
            , email
            , mphon_no
        from mintup.tbl_mu_user
        where user_id = #{userId}
    </select>
</mapper>