<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.badminton.mintup.dao.UserDao">

    <select id="getUserId">
        select
            user_id
        from tbl_mu_user
        where email = #{email}
    </select>

    <select id="userInfo" resultType="com.badminton.mintup.vo.UserVo$UserInfoVo">
        select
            user_id
            , password
            , nickname
            , email
            , mphon_no
        from mintup.tbl_mu_user
        where user_id = #{userId}
    </select>

    <select id="getEmailExists" resultType="java.lang.Integer">
        select
            count(*)
        from mintup.tbl_mu_user
        where email = #{email}
    </select>

    <insert id="signUp" keyProperty="userId" useGeneratedKeys="true">
        insert into mintup.tbl_mu_user(
            email
            , password
            , nickname
            , mphon_no
            , reg_dt
        )values(
            #{email}
            , #{password}
            , #{nickname}
            , #{mphonNo}
            , NOW()
        );
    </insert>

    <update id="updatePassword">
        update mintup.tbl_mu_user
        set password = #{password}
        where user_id = #{userId}
    </update>
</mapper>